@media print {
    .splendor ,
    .splendor :before,  
    .splendor :after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    .splendor a,
    .splendor a:visited {
        text-decoration: underline;
      }
  
      .splendor a[href]:after {
        content: " (" attr(href) ")";
      }
  
    .splendor abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    .splendor a[href^="#"]:after,
    .splendor a[href^="javascript:"]:after {
        content: "";
      }
  
    .splendor pre,
    .splendor blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    .splendor thead {
      display: table-header-group;
    }
  

    .splendor tr
    {
      page-break-inside: avoid;
    }
  
    .splendor {
      max-width: 100% !important;
    } 
    .splendor 
    .splendor p,
    .splendor h2,
    .splendor h3 {
      orphans: 3;
      widows: 3;
    }
  
    .splendor h2,
    .splendor h3 {
      page-break-after: avoid;
    }
  }
  
  .splendor {
    font-size: 12px;
  }
  
  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    .splendor {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 48rem) {
    .splendor  {
      font-size: 16px;
    }
  }
  
  .splendor  {
    line-height: 1.85;
  }
  
  .splendor-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }
  
  .splendor 
  .splendor h1,
  .splendor h2,
  .splendor h3,
  .splendor h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }
  
  .splendor h1 {
    margin-top: 0;
    font-size: 3.998rem;
  }
  
  .splendor h2 {
    font-size: 2.827rem;
  }
  
  .splendor h3 {
    font-size: 1.999rem;
  }
  
  .splendor h4 {
    font-size: 1.414rem;
  }
  
  .splendor h5 {
    font-size: 1.121rem;
  }
  
  .splendor h6 {
    font-size: .88rem;
  }
  
  .splendor small {
    font-size: .707em;
  }
  
  /* /.splendor  https://github.com/mrmrs/fluidity .splendor / */
  
  
  @import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);
  
  .splendor  {
    font-size: 12px;
    max-width: 100%;
  }
  
  .splendor  {
    color: #444;
    font-family: 'Merriweather', Georgia, serif;
    margin: 0;
    max-width: 100%;
  }
  
  /* /.splendor  === A bit of a gross hack so we can have bleeding divs/blockquotes. .splendor / */
  
  .splendor p,
  .splendor :not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
    margin: 1rem auto 1rem;
    max-width: 36rem;
    padding: .25rem;
  }
  
  .splendor div {
    width: 100%;
  }
  
  /* /.splendor  div img {
    width: 100%;
  } .splendor / */
  
  .splendor blockquote p {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem auto 1rem;
    max-width: 48rem;
  }
  
  .splendor li {
    margin-left: 2rem;
  }
  
  /* /.splendor  Counteract the specificity of the gross .splendor :not() chain. .splendor / */
  
  .splendor h1 {
    padding: 4rem 0 !important;
  }
  
  /* /.splendor   === End gross hack .splendor / */
  
  .splendor p {
    color: #555;
    height: auto;
    line-height: 1.45;
  }
  
  .splendor pre,
  .splendor code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  
  .splendor pre {
    background-color: #fafafa;
    font-size: .8rem;
    overflow-x: scroll;
    padding: 1.125em;
  }
  
  .splendor a,
  .splendo a:visited {
    color: #3498db;
  }
  
  .splendor a:hover,
  .splendor a:focus,
  .splendor a:active {
    color: #2980b9;
  }