.markdown-body-light {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #24292f;
  background-color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body-light .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body-light h1:hover .anchor .octicon-link:before,
.markdown-body-light h2:hover .anchor .octicon-link:before,
.markdown-body-light h3:hover .anchor .octicon-link:before,
.markdown-body-light h4:hover .anchor .octicon-link:before,
.markdown-body-light h5:hover .anchor .octicon-link:before,
.markdown-body-light h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body-light details,
.markdown-body-light figcaption,
.markdown-body-light figure {
  display: block;
}

.markdown-body-light summary {
  display: list-item;
}

.markdown-body-light a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.markdown-body-light a:active,
.markdown-body-light a:hover {
  outline-width: 0;
}

.markdown-body-light abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.markdown-body-light b,
.markdown-body-light strong {
  font-weight: 600;
}

.markdown-body-light dfn {
  font-style: italic;
}

.markdown-body-light h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown-body-light mark {
  background-color: #ff0;
  color: #24292f;
}

.markdown-body-light small {
  font-size: 90%;
}

.markdown-body-light sub,
.markdown-body-light sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body-light sub {
  bottom: -0.25em;
}

.markdown-body-light sup {
  top: -0.5em;
}

.markdown-body-light img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

.markdown-body-light code,
.markdown-body-light kbd,
.markdown-body-light pre,
.markdown-body-light samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

.markdown-body-light figure {
  margin: 1em 40px;
}

.markdown-body-light hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210,18%,87%,1);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

.markdown-body-light html [type=button],
.markdown-body-light [type=reset],
.markdown-body-light [type=submit] {
  -webkit-appearance: button;
}

.markdown-body-light [type=button]::-moz-focus-inner,
.markdown-body-light [type=reset]::-moz-focus-inner,
.markdown-body-light [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.markdown-body-light [type=button]:-moz-focusring,
.markdown-body-light [type=reset]:-moz-focusring,
.markdown-body-light [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.markdown-body-light [type=checkbox],
.markdown-body-light [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body-light [type=number]::-webkit-inner-spin-button,
.markdown-body-light [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.markdown-body-light [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.markdown-body-light [type=search]::-webkit-search-cancel-button,
.markdown-body-light [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.markdown-body-light ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown-body-light ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.markdown-body-light a:hover {
  text-decoration: underline;
}

.markdown-body-light hr::before {
  display: table;
  content: "";
}

.markdown-body-light hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body-light table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body-light td,
.markdown-body-light th {
  padding: 0;
}

.markdown-body-light details summary {
  cursor: pointer;
}

.markdown-body-light details:not([open])>*:not(summary) {
  display: none !important;
}

.markdown-body-light kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175,184,193,0.2);
  border-bottom-color: rgba(175,184,193,0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
}

.markdown-body-light h1,
.markdown-body-light h2,
.markdown-body-light h3,
.markdown-body-light h4,
.markdown-body-light h5,
.markdown-body-light h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body-light h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown-body-light h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown-body-light h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown-body-light h5 {
  font-weight: 600;
  font-size: .875em;
}

.markdown-body-light h6 {
  font-weight: 600;
  font-size: .85em;
  color: #57606a;
}

.markdown-body-light p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body-light blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: .25em solid #d0d7de;
}

.markdown-body-light ul,
.markdown-body-light ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body-light ol ol,
.markdown-body-light ul ol {
  list-style-type: lower-roman;
}

.markdown-body-light ul ul ol,
.markdown-body-light ul ol ol,
.markdown-body-light ol ul ol,
.markdown-body-light ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body-light dd {
  margin-left: 0;
}

.markdown-body-light tt,
.markdown-body-light code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

.markdown-body-light pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown-body-light :-ms-input-placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdown-body-light ::-ms-input-placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdown-body-light ::placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdown-body-light .pl-c {
  color: #6e7781;
}

.markdown-body-light .pl-c1,
.markdown-body-light .pl-s .pl-v {
  color: #0550ae;
}

.markdown-body-light .pl-e,
.markdown-body-light .pl-en {
  color: #8250df;
}

.markdown-body-light .pl-smi,
.markdown-body-light .pl-s .pl-s1 {
  color: #24292f;
}

.markdown-body-light .pl-ent {
  color: #116329;
}

.markdown-body-light .pl-k {
  color: #cf222e;
}

.markdown-body-light .pl-s,
.markdown-body-light .pl-pds,
.markdown-body-light .pl-s .pl-pse .pl-s1,
.markdown-body-light .pl-sr,
.markdown-body-light .pl-sr .pl-cce,
.markdown-body-light .pl-sr .pl-sre,
.markdown-body-light .pl-sr .pl-sra {
  color: #0a3069;
}

.markdown-body-light .pl-v,
.markdown-body-light .pl-smw {
  color: #953800;
}

.markdown-body-light .pl-bu {
  color: #82071e;
}

.markdown-body-light .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

.markdown-body-light .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

.markdown-body-light .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

.markdown-body-light .pl-ml {
  color: #3b2300;
}

.markdown-body-light .pl-mh,
.markdown-body-light .pl-mh .pl-en,
.markdown-body-light .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

.markdown-body-light .pl-mi {
  font-style: italic;
  color: #24292f;
}

.markdown-body-light .pl-mb {
  font-weight: bold;
  color: #24292f;
}

.markdown-body-light .pl-md {
  color: #82071e;
  background-color: #FFEBE9;
}

.markdown-body-light .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

.markdown-body-light .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

.markdown-body-light .pl-mi2 {
  color: #eaeef2;
  background-color: #0550ae;
}

.markdown-body-light .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.markdown-body-light .pl-ba {
  color: #57606a;
}

.markdown-body-light .pl-sg {
  color: #8c959f;
}

.markdown-body-light .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

.markdown-body-light [data-catalyst] {
  display: block;
}

.markdown-body-light g-emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown-body-light g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-body-light::before {
  display: table;
  content: "";
}

.markdown-body-light::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body-light>*:first-child {
  margin-top: 0 !important;
}

.markdown-body-light>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body-light a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body-light .absent {
  color: #cf222e;
}

.markdown-body-light .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body-light .anchor:focus {
  outline: none;
}

.markdown-body-light p,
.markdown-body-light blockquote,
.markdown-body-light ul,
.markdown-body-light ol,
.markdown-body-light dl,
.markdown-body-light table,
.markdown-body-light pre,
.markdown-body-light details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body-light blockquote>:first-child {
  margin-top: 0;
}

.markdown-body-light blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body-light sup>a::before {
  content: "[";
}

.markdown-body-light sup>a::after {
  content: "]";
}

.markdown-body-light h1 .octicon-link,
.markdown-body-light h2 .octicon-link,
.markdown-body-light h3 .octicon-link,
.markdown-body-light h4 .octicon-link,
.markdown-body-light h5 .octicon-link,
.markdown-body-light h6 .octicon-link {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body-light h1:hover .anchor,
.markdown-body-light h2:hover .anchor,
.markdown-body-light h3:hover .anchor,
.markdown-body-light h4:hover .anchor,
.markdown-body-light h5:hover .anchor,
.markdown-body-light h6:hover .anchor {
  text-decoration: none;
}

.markdown-body-light h1:hover .anchor .octicon-link,
.markdown-body-light h2:hover .anchor .octicon-link,
.markdown-body-light h3:hover .anchor .octicon-link,
.markdown-body-light h4:hover .anchor .octicon-link,
.markdown-body-light h5:hover .anchor .octicon-link,
.markdown-body-light h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body-light h1 tt,
.markdown-body-light h1 code,
.markdown-body-light h2 tt,
.markdown-body-light h2 code,
.markdown-body-light h3 tt,
.markdown-body-light h3 code,
.markdown-body-light h4 tt,
.markdown-body-light h4 code,
.markdown-body-light h5 tt,
.markdown-body-light h5 code,
.markdown-body-light h6 tt,
.markdown-body-light h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.markdown-body-light ul.no-list,
.markdown-body-light ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdown-body-light ol[type="1"] {
  list-style-type: decimal;
}

.markdown-body-light ol[type=a] {
  list-style-type: lower-alpha;
}

.markdown-body-light ol[type=i] {
  list-style-type: lower-roman;
}

.markdown-body-light div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown-body-light ul ul,
.markdown-body-light ul ol,
.markdown-body-light ol ol,
.markdown-body-light ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body-light li>p {
  margin-top: 16px;
}

.markdown-body-light li+li {
  margin-top: .25em;
}

.markdown-body-light dl {
  padding: 0;
}

.markdown-body-light dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body-light dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body-light table th {
  font-weight: 600;
}

.markdown-body-light table th,
.markdown-body-light table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.markdown-body-light table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210,18%,87%,1);
}

.markdown-body-light table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body-light table img {
  background-color: transparent;
}

.markdown-body-light img[align=right] {
  padding-left: 20px;
}

.markdown-body-light img[align=left] {
  padding-right: 20px;
}

.markdown-body-light .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown-body-light span.frame {
  display: block;
  overflow: hidden;
}

.markdown-body-light span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

.markdown-body-light span.frame span img {
  display: block;
  float: left;
}

.markdown-body-light span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}

.markdown-body-light span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body-light span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown-body-light span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown-body-light span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body-light span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body-light span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown-body-light span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown-body-light span.float-left span {
  margin: 13px 0 0;
}

.markdown-body-light span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown-body-light span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body-light code,
.markdown-body-light tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}

.markdown-body-light code br,
.markdown-body-light tt br {
  display: none;
}

.markdown-body-light del code {
  text-decoration: inherit;
}

.markdown-body-light pre code {
  font-size: 100%;
}

.markdown-body-light pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body-light .highlight {
  margin-bottom: 16px;
}

.markdown-body-light .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body-light .highlight pre,
.markdown-body-light pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.markdown-body-light pre code,
.markdown-body-light pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body-light .csv-data td,
.markdown-body-light .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown-body-light .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.markdown-body-light .csv-data tr {
  border-top: 0;
}

.markdown-body-light .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.markdown-body-light .footnotes {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}

.markdown-body-light .footnotes ol {
  padding-left: 16px;
}

.markdown-body-light .footnotes li {
  position: relative;
}

.markdown-body-light .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.markdown-body-light .footnotes li:target {
  color: #24292f;
}

.markdown-body-light .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.markdown-body-light [hidden] {
  display: none !important;
}

.markdown-body-light ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
